@font-face {
  font-family: 'pixel';
  src: url('./data/ArcadepixPlus.ttf');
}
.root{
  margin: 0px;
  padding: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  justify-content: center;

  background: url("./images/back.png");
}

#main{
  width: 1504px;
  height: 560px;
  background: url("./images/Map.png");
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
#container {
  position: relative;
}
#container canvas, #source,#target {
  position: absolute;
}
#source{
  top: 392px;
  left: 216px 
}
#target{
  top: 392px;
  left:1032px;
}